#### Data Cleaning

In [124]:
import pandas as pd
import numpy as np
import pickle
import re

##### Get the pickle files and convert to dataframe

In [4]:
with open ('all_my_data_1288.pkl','rb') as picklefile:
    course_details = pickle.load(picklefile)

In [8]:
with open ('enrollment_incentives.pkl','rb') as picklefile:
    enrollment_incentives = pickle.load(picklefile)

In [6]:
course_df = pd.DataFrame(course_details)

In [9]:
enrollment_df = pd.DataFrame(enrollment_incentives)

##### Join both the dataframes

In [13]:
udemy_df = pd.concat([course_df,enrollment_df], axis=1)

In [21]:
len(udemy_df)

1288

In [23]:
udemy_df=udemy_df.drop_duplicates()

In [24]:
len(udemy_df)

1120

In [62]:
udemy_df.head(2)

,Title,Lectures,Minutes,Hours,Level,Sale,Price,Stars,Number of Ratings,URL,Enrollment,Incentives
0,Android: Using Backendless to save data in the...,61,None,11.5,Beginner,10.99,19.99,4.7,12,/android-using-backendless-to-save-data-in-the...,76,6
1,Fundraising Success: The Art & Science of Majo...,24,None,2.5,Intermediate,10.99,49.99,4.4,18,/fundraising-success-the-art-science-of-major-...,84,5

##### Rename column names

In [42]:
udemy_columns = ['Title','Lectures','Minutes','Hours','Level','Sale','Price','Stars','Number of Ratings','URL','Enrollment','Incentives']

In [43]:
udemy_df.columns = udemy_columns

In [67]:
print(type(udemy_df['Hours'][5]))

<class 'str'>

In [79]:
def convert_hours_to_float(hours_string):
    
    if type(hours_string) is str and len(hours_string) > 5:
        hours_string = hours_string.strip(' hour')
        print(hours_string)
    return float(hours_string)

In [80]:
x = convert_hours_to_float('2 hour')

2

In [74]:
x = '2 hour'
print(x.strip(' hour'))

2

In [81]:
udemy_df['Hours'] = udemy_df['Hours'].apply(convert_hours_to_float)

2
1.5
9
1
4
3
2
1
23
1
11
2
1.5
2.5
4
3
1.5
9.5
8.5
3.5
17.5
10.5
3
2.5
2
1.5
10.5
2
9
35.5
4
1
13.5
5
2.5
6
3.5
7
4.5
1
1.5
5.5
1
2
5.5
13
5
4
1
6
1.5
2
4
1
4.5
5.5
6
16
9
5
5
1.5
4.5
5.5
1.5
3
2.5
1
5.5
1.5
4
3.5
1.5
4
2
18.5
1.5
1
9
4
14
6
13
2
32.5
2
2.5
2.5
11.5
11.5
7.5
4
4
5
3.5
20
5.5
4
11
2.5
3.5
2.5
2.5
4.5
1
5.5
8.5
4
4
1.5
1.5
2
21
9.5
2
15
8.5
4
2
2
5
4
3
5
15.5
2
12
4
2
3.5
35.5
3
2.5
2
4.5
19
2
2.5
2
3.5
2
3
38
5.5
4.5
4
33
5.5
4
8.5
7
1.5
8
3.5
8
1.5
2.5
3.5
1
7
3
5
1.5
12.5
1
3
2
6
1
2
3.5
1
2
1.5
1
1
5
3
1
9.5
6
4.5
2
7.5
1
1
3.5
5
3.5
1
1
2.5
1
5
3.5
1
1.5
1
2
3
3.5
2
7.5
1.5
1.5
3
1
1
4
2.5
1.5
7.5
3.5
1
4
1.5
1
1.5
1
1.5
8.5
14.5
7.5
18.5
4
8
7
3.5
1.5
1
3
5
8
1.5
1
2
2.5
6
3
3
3.5
3.5
6
7.5
2
8.5
3
3.5
2.5
1.5
7
2
3
26
4
3
4.5
1
4
14
3
1
2
1
1.5
1.5
1.5
6
7.5
11.5
3
1.5
2
3.5
2
6
6
1.5
3.5
2.5
2
1
3
6.5
3
2.5
3.5
2
2.5
5
10.5
2.5
1
2
2.5
6
5.5
5.5
5.5
3.5
2.5
14
5
5.5
15.5
2.5
5
4.5
1.5
2.5
1.5
1
7.5
2
4.5
8.5
3.5
1.5
3.5
3
4
7.5
9
2.5
1
4.5
18.5
1
2
1.5
2
2.5
5.5
1.5
5.5
1.5
9
3.5
2
1
3.5
4
4
2
1.5
15.5
5
2
7
6.5
2
2.5
1
1
1
2.5
4
47.5
16.5
5
27.5
18.5
20.5
7
25
31
22.5
32
15.5
19
9.5
9
34.5
4
7
10
19.5
6
7
6
3
4
6
10.5
4.5
3
5
7
1.5
3
36.5
8.5
3.5
10
11.5
3
2
3
9.5
12
2
3
5
15
1.5
22
10.5
2.5
25
2
3
3
1.5
2.5
3.5
5.5
2.5
3.5
5.5
9.5
7
3
5
6
1
1
5
2.5
7
1
2.5
2
4.5
1
1
6
4.5
7.5
1.5
1.5
1.5
8
2.5
3
1
1.5
3.5
1.5
8
1.5
1
4
8
2
6.5
1.5
1
3
3.5
1
2
1
5.5
1
1
3.5
2
1.5
4
2
3
2
3
2
6.5
1
2.5
2.5
1.5
2
2
2
3
4
1
1
3.5
1.5
41
21
10.5
21.5
12
11
7.5
18
23
6
23.5
16.5
41
21
10.5
21.5
12
9.5
30
4
13
5
4
3
3
5.5
9
7
3.5
5
5.5
6.5
8
2.5
6
4.5
8.5
9
11
5.5
4.5
3.5
9
1.5
6
6.5
5.5
19.5
1
18.5
7
2
6
5
4
3.5
1
4.5
2.5
4.5
4
4.5
5
3.5
4.5
4
1.5
10
5.5
8.5
1.5
10
4
6
3
12.5
7
17
3
4
5.5
2.5
3.5
2
4
22
27
9
4
4
4.5
1.5
2
11.5
1.5
4
8.5
7.5
2.5
9.5
3.5
15.5
3.5
8.5
2.5
2
8.5
2
4.5
5.5
6.5
18
3
1
6
9
12.5
11.5
4.5
1.5
8.5
2.5
5.5
7.5
4.5
21
1.5
11
3
2.5
1.5
4
5.5
8.5
8
1.5
9
5
11.5
11
5
7
9.5
1
5.5
2
1.5
2.5
8.5
7
6
6.5
14.5
3
5
2
9.5
4.5
5
20
2.5
6.5
3
2.5
5.5
7
3
6
4.5
26.5
8
2.5
5.5
5
2.5
6.5
11
4.5
23
2.5
2
5.5
4.5
6.5
1.5
39
2.5
1.5
2.5
30.5
40.5
6
1
3.5
6
4.5
8
5.5
5
16.5
1
5.5
1.5
39.5
8.5
2.5
4
7
13
1
9.5
2
3
2.5
2
1.5
2
2
8.5
1
3
2
4
1.5
6.5
2.5
21
19
1.5
1
4
4.5
4
4.5
5
5
1.5
2.5
8.5
7
3
6
7
23
4.5
2.5
1.5
1.5
1.5
1.5
6
3.5
4
1.5
2
6.5
3
1.5
17
6
1.5
8.5
8
2.5
2
3
4.5
1.5
10.5
1
1
8.5
2
3.5
5.5
1
4.5
3.5
2.5
7.5
2
5
2.5
7
11
12.5
7.5
1.5
2
2.5
7.5
1.5
3
2.5
3
3.5
1
4
3.5
1
1.5
5
3.5
3
2.5
3
4.5
2.5
1.5
7.5
7
21
1.5
28.5
7
3.5
2
3
3.5
4
3
3
2
2.5
2.5
11
7.5
2
1
1
2.5
2
1
2
3
1
4.5
32
1.5
3.5
11.5
9.5
1.5
1.5
11.5
31
4
3.5
21.5
6
9.5
5.5
5
1
2.5
7.5
10.5
3
2
1.5
4.5
3.5
2
5
3
13
3.5
1
3.5
11.5
5.5
5
1
2
10
3.5
2
4.5
1
2
2.5
3
2.5
2
2.5
4.5
1.5
17
6
2
1
1.5
5
7
6
2
5
17.5
3
5.5
25.5
3
1
3
4.5
1
9.5
1
1
4
10.5
3.5
3.5
3
4.5
4
7.5
3
2.5
3
3
1.5
1.5
3.5
1.5
3
1.5
5.5
3.5
3
2
1
23
1.5
1.5
5
1
1
9.5
1
2.5
3.5
2
2
2.5
10.5
4
2
17
1.5
7
1
1
13
4
3
1
1.5
9.5
5.5
2.5
5
1
1
3.5
8
3
3
5
1
6.5
3.5
1.5
2
4
2.5
1
7.5
1.5
6.5
2
1
2.5
1
3
3.5
11.5
3
4
1
5
4.5
1.5
6.5
5.5
2.5
2.5
8
14.5
3
2.5
1
2.5
1.5
2.5
5
1
1.5
1
1.5
6.5
1.5
6
1.5
2.5
1.5
4
1.5
3
1.5
1.5
3
7
1.5
4
4.5
11
1
1.5
1.5
1
7.5
1.5
7
3.5
4.5
1.5
1.5
1
8.5
39
2
3
8.5
3
7
2.5
4.5
4
4.5
2.5
1
1.5
2
8.5
4.5
14.5
11.5
2.5
6
15
16
12
1
8
21
2.5
1.5
9
2.5
2.5
2
1.5
3.5
3
2
1
6
3
1.5
2
2

/Users/codess/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [92]:
udemy_df['Minutes'].replace('None', 0, inplace =True)

/Users/codess/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:5886: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [96]:
type(udemy_df['Minutes'][0])

NoneType

In [95]:
udemy_df.head(2)

,Title,Lectures,Minutes,Hours,Level,Sale,Price,Stars,Number of Ratings,URL,Enrollment,Incentives
0,Android: Using Backendless to save data in the...,61,None,11.5,Beginner,10.99,19.99,4.7,12,/android-using-backendless-to-save-data-in-the...,76,6
1,Fundraising Success: The Art & Science of Majo...,24,None,2.5,Intermediate,10.99,49.99,4.4,18,/fundraising-success-the-art-science-of-major-...,84,5

In [103]:
udemy_df=udemy_df.drop(['Minutes'], axis =1)

KeyError: "labels ['Minutes'] not contained in axis"

In [104]:
udemy_df.head(3)

,Title,Lectures,Hours,Level,Sale,Price,Stars,Number of Ratings,URL,Enrollment,Incentives
0,Android: Using Backendless to save data in the...,61,11.5,Beginner,10.99,19.99,4.7,12,/android-using-backendless-to-save-data-in-the...,76,6
1,Fundraising Success: The Art & Science of Majo...,24,2.5,Intermediate,10.99,49.99,4.4,18,/fundraising-success-the-art-science-of-major-...,84,5
2,Science of Happiness Certification: Fully Accr...,44,2.5,Beginner,10.99,199.99,4.5,24,/positive-psychology-habits-and-happiness-cert...,535,6

In [106]:
type(udemy_df['Price'][78])

numpy.float64

In [108]:
type(udemy_df['Sale'][189])

numpy.float64

In [109]:
type(udemy_df['Stars'][189])

str

In [112]:
udemy_df['Stars'].unique

<bound method Series.unique of 0       4.7
1       4.4
2       4.5
3       4.3
4       4.7
5       4.2
6       4.2
7       4.4
8       4.1
9       4.7
10      4.3
11      4.4
36      4(6
37      4(2
38      5(2
39      4(4
40      5(2
41      4.4
42      4.3
43      5(2
44      4.5
45      4.3
46      4.1
47      4.7
48      4.6
49      4.4
50      4.2
51      4.5
52      4.5
53      4.4
       ...
1258    4(2
1259    4.4
1260    4.4
1261    4.1
1262    4.9
1263    5(1
1264    4.4
1265    4.4
1266    4.4
1267    4.4
1268    4.5
1269    4.6
1270    4.4
1271    4.4
1272    4.4
1273    4.1
1274    4(1
1275    4.2
1276    4.1
1277    4.9
1278    4.1
1279    5(1
1280    4.7
1281    4.6
1282    4.7
1283    5(1
1284    4.6
1285    4(4
1286    4.3
1287    5(2
Name: Stars, Length: 1120, dtype: object>

In [116]:

for star, rating in udemy_df['Stars'],udemy_df['Number of Ratings']:
    list_star = list(star)
    if '(' in list_star:
        string = list_star.pop()
        rating = string + rating
        list_star.pop()
        star = float(''.join(list_star))
        rating = rating.replace(',','')
        rating = float(rating)

ValueError: too many values to unpack (expected 2)

In [138]:
for i in range(len(list_stars)):
    print(list_stars[i] )

4.7
4.4
4.5
4.3
4.7
4.2
4.2
4.4
4.1
4.7
4.3
4.4
4(6
4(2
5(2
4(4
5(2
4.4
4.3
5(2
4.5
4.3
4.1
4.7
4.6
4.4
4.2
4.5
4.5
4.4
4.5
4.3
4.3
4.3
4.1
4(7
4.1
4.1
4.3
5(1
4.2
4.3
4(2
4.5
5(1
4.1
4.8
4.2
4.1
5(1
4.5
5(1
4.2
4.1
4.6
4(1
4.6
4.4
4.4
5(2
4.2
5(1
4.8
4.5
4.1
4.2
4.6
4.5
4.7
4.5
4.2
4.6
4.1
4.3
4.3
4(1
4.1
4.3
4.2
4.3
4.3
4.3
4(2
4.3
4.9
4.2
4.3
4.3
4.3
4.4
4.1
4.5
4.4
4.2
5(1
4.8
4.5
4.1
4.7
4.2
4.7
4.6
4.2
4.5
4.2
4.3
4.4
4.9
4.3
4(2
4.4
4.6
4(8
4.3
5(1
4.1
4.3
4.2
4.1
4.6
4.6
4.2
4.7
4.4
4(1
4.3
4.5
4.1
4.9
4.5
4.2
4.8
4.7
4.8
4.7
4.5
4.8
4(3
4.6
4.4
4.9
4.4
4.2
4.2
4.3
4.6
4.5
4.2
4.1
4.6
5(1
4.5
4.6
4(2
4.5
4.4
4.5
4.8
4.3
4.5
4.6
4.4
4.6
4.6
4.7
4.1
4.6
4.5
4.5
4.8
4.4
4.3
4.3
4.2
4.5
4.1
4.9
4.4
4.6
4.5
4.8
4.9
4(3
4.6
4.7
4.5
4.4
4.8
3.9
4.3
4.5
4.4
4.4
4.6
5(5
4.3
4.9
4.4
4.3
4.5
4.5
4.6
4.2
4.1
4.2
4.1
4.1
4.1
4.4
4.2
4.2
4(3
4(1
4.3
4.4
4.3
4.5
4.4
4.2
4.1
4(1
4.1
4.5
4.1
4.1
4.5
4.3
4.3
4.4
4.8
4.4
5(1
5(1
5(1
5(1
4(1
5(1
5(1
4(1
4.2
4.1
4.2
4.2
4.2
4.5
4.3
4.2
5(1
4.2
4.8
4.4
4.2
4.3
4.7
4.1
4.3
4.4
4.2
4.3
4.4
4.3
4.5
4.5
4.5
4.4
4.3
4.3
4(1
4.9
4.4
4.4
4.8
4.5
4.4
4.4
4.2
4.5
4.1
4.6
4.4
4.9
5(1
4.2
4.5
4.3
4.5
4.3
4.3
4.6
4.4
4.7
4.7
4.4
5(1
4.5
4.2
4.1
4.7
4.8
4.4
4.1
4.6
4.6
4.5
4.1
4.2
4.4
4.4
4.3
4.5
4.4
4.3
4.4
4.7
4.3
4.2
4.7
4.4
4.7
4.7
4.4
4.5
4.8
4.2
4.3
4.5
4.4
4.1
4.4
4.5
4.2
4.7
4.4
4.2
4.3
4.4
4.5
4.5
4.2
4.3
4.2
4.6
4(5
4.3
4.4
4.3
4.1
4.9
4.4
4(3
4.6
4.2
4.6
4.3
4.8
4.5
4.7
4.7
4.5
4.7
4.1
4.4
4.5
4.4
4.6
4.3
4.3
4.5
4.1
4.4
4.1
4.2
4.1
4.1
4(4
4.3
4.9
4.8
4.3
5(2
4.5
5(1
4.7
4.3
4.5
4.2
4.2
4.5
4.3
4.2
4.4
4.5
4.4
4.7
4.4
4.6
4.4
4.6
4.6
4.7
4.5
4.4
4.3
4.2
4.2
4.7
4.4
4.5
5(1
4.6
4.7
4.8
4.5
4.5
4.7
4.1
4.5
4.4
4.3
4.5
4.2
4.8
4.5
4.3
4.5
4.5
3.5
3.8
4.3
4(2
3.7
3.3
3.7
3.7
3.4
3.5
4(7
3.7
3.1
3.8
3.3
3.5
3.4
0(0
3.9
3.7
4(2
2.6
2.4
3.7
2.3
3.8
3.3
3.5
0(0
3.3
1(1
3.1
2(1
0(0
2(1
3.2
0(0
0(0
3.5
0(0
0(0
0(0
0(0
3.9
0(0
0(0
0(0
0(0
3.8
0(0
0(0
1(2
0(0
0(0
3.9
2.8
3.7
0(0
0(0
3.9
3(4
0(0
2.6
3.1
0(0
3(2
3.8
2.9
3.3
0(0
2.9
1.5
3.7
3.7
0(0
3.5
0(0
3.2
3.9
3.3
3.6
3.9
0(0
0(0
0(0
3.5
3.8
3.8
3.7
0(0
3.6
3.3
2.6
3.3
2(2
0(0
4.4
4.4
4.6
4.5
4.4
4.5
4.6
4.6
4.4
4.6
4.4
4.6
4.4
4.4
4.6
4.5
4.4
4.5
4.3
4.5
4.2
4.4
4.5
4.5
4.1
4.6
4.7
4.1
4.4
4.6
4.6
4.4
4.3
4.1
4.2
4.5
4.4
4.6
4.4
4.6
4.5
4.4
4.3
4.5
4.5
4.5
4.3
4.3
4.4
4(2
4.4
4.2
4.5
4.6
4.6
4.4
4.2
4.4
4.2
4.5
4.1
4.4
4.5
3.5
4.5
4.7
4.5
4.1
4.6
4.3
4(3
4.4
4.4
4.8
3.5
4.3
4.3
4.3
4(1
4.6
4.4
4.8
0(0
4.2
3.7
5(1
4.5
4(1
5(1
4.3
4.7
3.5
4.3
4(7
4.6
5(2
4(1
4(1
4.3
4.5
4.2
4.2
5(1
4(1
4.8
4.1
4.2
4.4
4.5
4.4
4.4
4.2
4.7
4.2
4(2
4.6
4.3
4.1
4.5
5(1
4.3
3.7
3.6
3.7
3.6
3(2
3.9
2.5
3.8
3(1
3.8
3.5
4(1
3.2
3.7
3.8
3.8
3.3
3.5
3.9
0(0
0(0
0(0
0(0
0(0
3.1
3.8
3.3
3(2
3.7
3.3
0(0
3(1
4(1
3.2
3.3
3.3
3.7
3.8
3.6
2.9
0(0
3.8
3.8
0(0
3.2
0(0
1(1
2.1
0(0
3.8
0(0
0(0
3.2
3.4
2(1
0(0
0(0
2(1
0(0
3.5
0(0
0(0
0(0
0(0
0(0
0(0
0(0
0(0
0(0
0(0
4(2
3.8
2.8
0(0
3.9
0(0
0(0
3.9
0(0
2.9
3.8
3.5
3.7
2.7
4(9
2.5
3.9
3.9
3.6
3.8
3.4
4(1
4.6
4.4
4.2
4.5
5(1
4.5
4.5
4.1
4.3
4.1
4.8
4.4
4.6
5(1
4.3
4.5
4(2
4.1
4.2
4.9
4.3
4.6
4.3
4.2
4.3
4.2
4.5
4.6
4.3
4.4
4.2
4.6
4.5
4.3
4.3
4.4
4.1
4.6
4.5
4(8
4.4
4.5
4.2
4.2
4.1
4.8
4.7
4.4
4.2
4.2
4.2
4.6
4.6
4.4
4.5
4.1
4.4
4.2
4.7
4.4
4.5
5(1
4.5
4.3
4.2
4.6
4.7
5(1
4.3
4.1
4.6
4.4
4.3
4.4
4.9
4.5
4.3
4.1
4.4
4.1
4.5
4.5
4.6
4.4
4.2
4.5
4.1
4.1
4.2
4.6
5(1
4.3
4.4
4.1
4.5
5(2
4.2
4.7
4.6
4(4
4.4
4.5
4.7
4.4
4.9
4.5
4.4
4.2
5(1
4.2
5(1
4.4
4.1
4(1
4.7
4.6
5(1
4.2
4.1
4.4
5(2
4.8
4.7
4.7
4.7
4.6
4.3
4.3
4(4
5(1
3.8
5(2
4.2
4.3
4.2
4.3
4.5
4.3
4.4
4.5
4.3
5(1
4.4
4(1
5(1
4.4
4.3
4.4
4.4
4.6
4.2
4.2
4.1
4.6
4.1
4.5
4.6
4.5
4.5
4.2
4.1
4.7
4.7
4(1
4.8
4.5
4.5
4.2
4.3
4.1
4.3
4.1
4.6
4.2
4.4
4.7
4(4
4.5
4.4
4.6
4.4
4.1
4(1
4.5
4.4
4.2
4.2
4.5
4.3
4.5
4.1
4.4
4.5
4.6
4.3
4.3
4.7
4.5
4.5
4.3
4.6
4.6
4(1
4.6
4.6
4.4
4(3
4.5
4.5
4.4
4.6
4(1
4.1
4.8
4.3
4.5
4.6
4.1
4(2
4.2
4.3
4.4
4.3
4.5
4.8
4.2
4.2
4(4
4.4
4.4
5(6
4.5
4.4
4.2
5(6
4.6
4.6
4.2
4.3
5(3
4.5
4.2
4.3
4.3
4.2
4.3
4.2
4.5
4.1
4.6
4(2
4(1
4.3
4.4
4.8
4.6
4.5
4.7
4.7
4.6
4.4
4.4
4.3
4.5
4.5
4.2
4.9
4.2
4.6
4(1
4.3
5(1
4.6
4.6
4.3
4.5
4.7
4.4
4.2
4.5
4.6
5(1
4.6
4(2
4.1
4.5
4.4
4.3
4.4
4.2
4.8
4.7
4.5
5(1
4.3
5(1
4.4
4.4
4.5
4.9
4.7
4.6
4.7
4.9
4.7
4.5
4(1
4.6
4.1
4.7
4.2
4(1
4.5
4.1
4.4
4.6
4.1
4.6
4.9
4.8
4.8
4.9
4.7
4.6
4.9
4.2
4.2
4.7
4.5
4.8
4.5
4.9
4.3
4.4
4.7
4.4
4.7
4.7
4.5
4.7
4.3
4.4
4.3
4(3
4.6
4.5
4.5
4.6
4.4
4.5
4.1
4.2
5(2
4.1
4.3
4(2
4.4
4.4
4.1
4.9
5(1
4.4
4.4
4.4
4.4
4.5
4.6
4.4
4.4
4.4
4.1
4(1
4.2
4.1
4.9
4.1
5(1
4.7
4.6
4.7
5(1
4.6
4(4
4.3
5(2

In [136]:
def covert_string_to_float(string):
    string = string.replace('(','')
    return float(string)

In [137]:
udemy_df['Stars'] = udemy_df['Stars'].apply(covert_string_to_float)

1120

In [132]:
len(udemy_df)

1120

In [130]:
data_without_missing_values = udemy_df.dropna(axis=1)

In [131]:
len(data_without_missing_values)

1120

In [ ]:
new_df = all_df['City'][all_df['City'] == "None"]

In [153]:
new_udemy_df = udemy_df[udemy_df['Stars']<=6]

In [154]:
len(new_udemy_df)

986

In [167]:
def convert_string_to_int(string):
    string = string.replace(',','')
    return int(string)

In [171]:
def convert_string_to_int_1(string):
    return int(string)

In [173]:
new_udemy_df['Enrollment'] = new_udemy_df['Enrollment'].apply(convert_string_to_int)

AttributeError: 'int' object has no attribute 'replace'

In [176]:
type(new_udemy_df['Number of Ratings'][8])

str

In [179]:
def convert_string_to_int_1(string):
    if string == '':
        string = 0
    return int(string)

In [180]:
new_udemy_df['Number of Ratings'] = new_udemy_df['Number of Ratings'].apply(convert_string_to_int_1)

/Users/codess/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [182]:
new_udemy_df[new_udemy_df['Number of Ratings']==0]

,Title,Lectures,Hours,Level,Sale,Price,Stars,Number of Ratings,URL,Enrollment,Incentives
543,Hands-on Machine Learning for Data Mining,21,3.0,Intermediate,10.99,124.99,0.0,0,/hands-on-machine-learning-for-data-mining/,0,5
554,Data Analysis and Exploration with Pandas,81,5.0,Intermediate,10.99,124.99,0.0,0,/data-analysis-and-exploration-with-pandas/,0,5
559,Data Acquisition and Manipulation with Python,25,2.5,Intermediate,10.99,124.99,0.0,0,/data-acquisition-and-manipulation-with-python/,19,5
562,Classifying and Clustering Data with R,19,2.5,Intermediate,10.99,124.99,0.0,0,/classifying-and-clustering-data-with-r/,28,5
563,Pandas: Professional Data Exploration for clie...,11,2.0,Beginner,10.99,64.99,0.0,0,/pandas-professional-data-exploration-for-clie...,1,4
565,Data Manipulation and PCA (Principal Component...,12,1.0,All Levels,10.99,34.99,0.0,0,/data-manipulation-and-principal-component-ana...,504,4
566,Master Data Loading without Source System,10,1.0,All Levels,10.99,49.99,0.0,0,/master-data-loading-without-source-system/,1263,4
567,Learning Python Data Analysis,24,6.0,Beginner,10.99,124.99,0.0,0,/learning-python-data-analysis/,8,5
568,Python: Data Visualization with Python: 2-in-1,71,4.5,Intermediate,10.99,199.99,0.0,0,/python-data-visualization-with-python-2-in-1/,2,5
570,Data Visualization in Python by Examples,21,1.5,Intermediate,10.99,124.99,0.0,0,/data-visualization-in-python-by-examples/,3,5
571,Mastering Python Data Analysis with Pandas,17,1.5,Intermediate,10.99,124.99,0.0,0,/mastering-python-data-analysis-with-pandas/,9,5
572,Modeling and Visualization of Data in Pandas,20,1.5,Intermediate,10.99,124.99,0.0,0,/modeling-and-visualization-of-data-in-pandas/,0,5
573,Pandas: Data Analysis with Pandas: 3-in-1,124,8.0,Intermediate,10.99,199.99,0.0,0,/pandas-data-analysis-with-pandas-3-in-1/,6,5
575,Learning Python Data Visualization,25,3.0,Beginner,10.99,124.99,0.0,0,/learning-python-data-visualization/,1,5
576,Learn to Analyze and Visualize your data with ...,17,1.0,Intermediate,10.99,124.99,0.0,0,/learning-pandas/,2,5
578,Mastering Data Analysis with R,23,3.5,Expert,10.99,124.99,0.0,0,/mastering-data-analysis-with-r/,12,4
579,Data Visualization Recipes in Python,18,1.5,Intermediate,10.99,124.99,0.0,0,/data-visualization-recipes-in-python/,1,5
583,R Data Analysis Projects,37,4.0,Intermediate,10.99,124.99,0.0,0,/r-data-analysis-projects/,1,5
584,LEARNING PATH: R: Advanced Data Analysis with R,60,8.0,Beginner,10.99,199.99,0.0,0,/learning-path-r-advanced-data-analysis-with-r/,8,5
599,Scope Of science,26,1.5,All Levels,10.99,19.99,0.0,0,/scope-of-science/,4,4
602,Python Data Visualization Solutions,50,3.5,Intermediate,10.99,94.99,0.0,0,/python-data-visualization-solutions/,27,4
607,Master Data Analysis in Python with Pandas,38,5.5,Beginner,10.99,159.99,0.0,0,/master-data-analysis-in-python-with-pandas/,22,5
612,Tensorflow Solutions for Data,14,1.5,Intermediate,10.99,124.99,0.0,0,/tensorflow-solutions-for-data/,6,5
614,Python Data Structures and Algorithms,37,2.0,Intermediate,10.99,124.99,0.0,0,/python-data-structures-and-algorithms/,2,4
620,The Magic in Science,31,1.0,All Levels,10.99,19.99,0.0,0,/the-magic-in-science/,8,4
621,Data Structures and Algorithms in python,43,2.5,All Levels,10.99,104.99,0.0,0,/data-structures-and-algorithms-in-python-usin...,6,4
622,Python Data Visualization: 2-in-1,42,2.5,Intermediate,10.99,199.99,0.0,0,/python-data-visualization-2-in-1/,2,5
627,Scrapy bootcamp : collecting data from internet,27,2.0,All Levels,10.99,19.99,0.0,0,/scrapy-bootcamp/,27,5
633,The Science of Decisions,10,1.5,Beginner,124.99,124.99,0.0,0,/the-science-of-decisions/,3,6
735,Python Data Science Essentials,25,3.5,Intermediate,10.99,124.99,0.0,0,/python-data-science-essentials/,0,5
793,SGLearn@Python A-Z™: Python For Data Science,68,11.0,All Levels,199.99,199.99,0.0,0,/sglearnpython-a-ztm-python-for-data-science/,4,5
794,Learning Path: Your Guide to Learn Data Scienc...,31,5.0,Beginner,10.99,199.99,0.0,0,/learning-path-your-guide-to-learn-data-scienc...,7,5
795,Introduction To Data Science Using R Programming,54,7.0,All Levels,10.99,39.99,0.0,0,/introduction-to-data-science-using-r-programm...,11,5
796,Data Science Foundation Using R,99,9.5,Beginner,10.99,199.99,0.0,0,/data-science-foundation-using-r/,277,4
797,Data Science In Real World Business,16,1.0,All Levels,10.99,149.99,0.0,0,/data-science-real-world-business/,3,4
804,SGLearn@R Programming: Adv Analytics In R for ...,47,6.0,Intermediate,199.99,199.99,0.0,0,/sglearnr-programming-adv-analytics-in-r-for-d...,4,5
814,Modern Data Science Masterclass,139,20.0,All Levels,10.99,199.99,0.0,0,/datasciencecourse/,40,6
817,Complete Career Transition Guide for Data Scie...,6,3.0,Beginner,10.99,94.99,0.0,0,/complete-career-transition-guide-for-data-sci...,0,6
819,R Programming: Practical Data Science and Mode...,40,5.5,All Levels,10.99,149.99,0.0,0,/r-programming-mammothinteractive/,2,6
822,Learn Data Science With R Part 4 of 10,5,6.0,Intermediate,19.99,19.99,0.0,0,/learn-data-science-with-r-part-4-of-10/,9,4
824,Crack Pandas and NumPy: Python Data Science Ma...,71,26.5,Beginner,10.99,199.99,0.0,0,/pythonnumpy/,44,5
825,Learn Data Science With R Part 3 of 10,8,8.0,Intermediate,19.99,19.99,0.0,0,/learn-data-science-with-r-part-3-of-10/,5,4
829,Coaching Course: Adv Analytics in R for Data S...,6,37.0,Intermediate,199.99,199.99,0.0,0,/coaching-course-adv-analytics-in-r-for-data-s...,4,4
830,Fundamentals of Machine Learning with scikit-l...,34,2.5,Intermediate,10.99,124.99,0.0,0,/fundamentals-of-machine-learning-with-scikit-...,5,5
832,The Deep Learning and Data Analysis Bootcamp,60,11.0,All Levels,10.99,199.99,0.0,0,/deep-learning-and-data-analysis/,0,6
834,Complete predictive modeling & app building bo...,166,23.0,All Levels,10.99,199.99,0.0,0,/complete-predictive-modeling-app-building-boo...,12,6
835,Speaking ‘R’ - The Language of Data Science,19,2.5,Intermediate,10.99,124.99,0.0,0,/speaking-r-the-language-of-data-science/,2,5
836,Python Data Structures for Machine Learning,11,2.0,Beginner,10.99,19.99,0.0,0,/python-data-structures-for-machine-learning/,4,4
837,Coaching Course: Adv Analytics in R for Data S...,6,37.0,Intermediate,199.99,199.99,0.0,0,/coaching-course-adv-analytics-in-r-for-data-s...,1,4
838,Learn Data Science With R Part 2 of 10,5,5.5,Intermediate,19.99,19.99,0.0,0,/learn-data-science-with-r-part-2-of-10/,5,4
839,Data Science with SAS Advanced Certification T...,136,4.5,Intermediate,199.99,199.99,0.0,0,/data-science-with-sas-advanced-certification-...,0,5
840,"Polling Data Analysis in MapReduce,PIG and HIV...",18,6.5,Beginner,9.99,19.99,0.0,0,/polling-data-analysis-in-mapreducepig-and-hiv...,7,5
841,Getting Started with NLP and Deep Learning wit...,12,1.5,Intermediate,10.99,124.99,0.0,0,/getting-started-with-nlp-and-deep-learning-wi...,15,5
842,Coaching Course: 0 to 1: Spark for Data Scienc...,5,31.0,All Levels,199.99,199.99,0.0,0,/coaching-course-0-to-1-spark-for-data-science...,0,4
843,Learn Python Data Analysis with Pandas and Mak...,156,39.0,All Levels,10.99,199.99,0.0,0,/pythonpandasunitygame/,15,6
847,Learn Python in 3 Hours,19,2.5,Intermediate,10.99,124.99,0.0,0,/learn-python-in-3-hours/,0,5
849,Making Games in Unity and Graphs in Python usi...,169,40.5,All Levels,10.99,199.99,0.0,0,/gamesunitygraphspythonmatplotlib/,10,5
850,LEARNING PATH: Statistics and Data Mining for ...,52,6.0,Beginner,10.99,199.99,0.0,0,/learning-path-ibm-spss-data-science-with-ibm-...,21,5
852,Statistics for Business Analytics & Data Science,16,3.5,All Levels,10.99,199.99,0.0,0,/statistics-for-business-analytics-data-science/,115,4

In [185]:
type(new_udemy_df['Enrollment'][1])

numpy.int64

In [187]:
new_udemy_df['Level'].unique()

array(['Beginner', 'Intermediate', 'All Levels', 'Expert', ''],
      dtype=object)

In [198]:
dummy_df = pd.get_dummies(new_udemy_df['Level'])

In [199]:
dummy_df

         All Levels  Beginner  Expert  Intermediate
0     0           0         1       0             0
1     0           0         0       0             1
2     0           0         1       0             0
3     0           1         0       0             0
4     0           1         0       0             0
5     0           1         0       0             0
6     0           1         0       0             0
7     0           0         0       0             1
8     0           1         0       0             0
9     0           1         0       0             0
10    0           0         0       0             1
11    0           1         0       0             0
41    0           0         0       0             1
42    0           0         1       0             0
44    0           1         0       0             0
45    0           1         0       0             0
46    0           1         0       0             0
47    0           1         0       0             0
48    0           1         0       0             0
49    0           1         0       0             0
50    0           0         1       0             0
51    0           0         1       0             0
52    0           1         0       0             0
53    0           0         1       0             0
54    0           0         0       1             0
55    0           1         0       0             0
56    0           0         0       1             0
57    0           0         0       0             1
58    0           0         0       1             0
60    0           0         0       0             1
...  ..         ...       ...     ...           ...
1238  0           0         0       0             1
1239  0           0         0       0             1
1252  0           0         0       0             1
1253  0           1         0       0             0
1254  0           0         0       0             1
1256  0           1         0       0             0
1257  0           1         0       0             0
1259  0           1         0       0             0
1260  0           1         0       0             0
1261  0           1         0       0             0
1262  0           0         0       0             1
1264  0           1         0       0             0
1265  0           0         0       0             1
1266  0           1         0       0             0
1267  0           0         1       0             0
1268  0           1         0       0             0
1269  0           0         0       1             0
1270  0           0         1       0             0
1271  0           0         0       0             1
1272  0           1         0       0             0
1273  0           1         0       0             0
1275  0           0         1       0             0
1276  0           1         0       0             0
1277  0           1         0       0             0
1278  0           0         0       0             1
1280  0           0         0       0             1
1281  0           0         1       0             0
1282  0           0         0       1             0
1284  0           1         0       0             0
1286  0           1         0       0             0

[986 rows x 5 columns]

In [194]:
new_udemy_df = pd.concat([new_udemy_df,dummy_df], axis=1)

In [195]:
new_udemy_df.head(5)

,Title,Lectures,Hours,Level,Sale,Price,Stars,Number of Ratings,URL,Enrollment,Incentives,,All Levels,Beginner,Expert,Intermediate
0,Android: Using Backendless to save data in the...,61,11.5,Beginner,10.99,19.99,4.7,12,/android-using-backendless-to-save-data-in-the...,76,6,0,0,1,0,0
1,Fundraising Success: The Art & Science of Majo...,24,2.5,Intermediate,10.99,49.99,4.4,18,/fundraising-success-the-art-science-of-major-...,84,5,0,0,0,0,1
2,Science of Happiness Certification: Fully Accr...,44,2.5,Beginner,10.99,199.99,4.5,24,/positive-psychology-habits-and-happiness-cert...,535,6,0,0,1,0,0
3,The Science of Reiki,11,1.0,All Levels,10.99,49.99,4.3,37,/the-science-of-reiki/,119,6,0,1,0,0,0
4,GDPR & PSD2 data protection compliance for fin...,60,6.5,All Levels,10.99,174.99,4.7,39,/understanding-financial-malware-and-how-top-b...,2729,5,0,1,0,0,0

In [200]:
new_udemy_df[new_udemy_df['Level'] =='']

,Title,Lectures,Hours,Level,Sale,Price,Stars,Number of Ratings,URL,Enrollment,Incentives,,All Levels,Beginner,Expert,Intermediate
917,Data Quality Fundamentals,35,3.0,,10.99,49.99,4.2,12,/data-quality-fundamentals/,60,4,1,0,0,0,0

In [202]:
new_udemy_df.rename(columns={'':'No Level'})

,Title,Lectures,Hours,Level,Sale,Price,Stars,Number of Ratings,URL,Enrollment,Incentives,No Level,All Levels,Beginner,Expert,Intermediate
0,Android: Using Backendless to save data in the...,61,11.5,Beginner,10.99,19.99,4.7,12,/android-using-backendless-to-save-data-in-the...,76,6,0,0,1,0,0
1,Fundraising Success: The Art & Science of Majo...,24,2.5,Intermediate,10.99,49.99,4.4,18,/fundraising-success-the-art-science-of-major-...,84,5,0,0,0,0,1
2,Science of Happiness Certification: Fully Accr...,44,2.5,Beginner,10.99,199.99,4.5,24,/positive-psychology-habits-and-happiness-cert...,535,6,0,0,1,0,0
3,The Science of Reiki,11,1.0,All Levels,10.99,49.99,4.3,37,/the-science-of-reiki/,119,6,0,1,0,0,0
4,GDPR & PSD2 data protection compliance for fin...,60,6.5,All Levels,10.99,174.99,4.7,39,/understanding-financial-malware-and-how-top-b...,2729,5,0,1,0,0,0
5,Death By PowerPoint To Killer Presentation Via...,15,31.0,All Levels,10.99,34.99,4.2,10,/death-by-powerpoint-to-killer-presentation/,36,4,0,1,0,0,0
6,Goal Setting for Success: The Science of Goal ...,47,2.0,All Levels,10.99,199.99,4.2,39,/science-of-goal-setting/,2166,6,0,1,0,0,0
7,How to Read Data from a Modbus RS485 Temperatu...,15,1.0,Intermediate,10.99,39.99,4.4,53,/how-to-read-data-from-a-modbus-rs485-temperat...,211,4,0,0,0,0,1
8,Art Therapy (based on Vedic Sciences),10,1.0,All Levels,10.99,99.99,4.1,15,/art-therapy-based-on-vedic-sciences/,214,5,0,1,0,0,0
9,Chrysalis: Spirituality & Science United for E...,39,8.0,All Levels,10.99,39.99,4.7,4,/chrysalis-teachings-spiritual-insights-for-cu...,16,5,0,1,0,0,0
10,SEO Schema Tutorial: Structured Data for Wordp...,35,2.0,Intermediate,10.99,19.99,4.3,6,/seo-schema-tutorial-structured-data-rich-snip...,1038,4,0,0,0,0,1
11,Anger: Understanding the art and science of it,8,44.0,All Levels,10.99,24.99,4.4,6,/understanding-the-art-and-science-of-anger/,32,5,0,1,0,0,0
41,Occultism Level 2: Science of the Paranormal,28,3.0,Intermediate,10.99,19.99,4.4,4,/occultism-level-2/,270,5,0,0,0,0,1
42,Metaphysics: The Science of Improving Your Life,7,2.0,Beginner,10.99,29.99,4.3,3,/metaphysics-the-science-of-improving-your-life/,14,4,0,0,1,0,0
44,"Electronic Science -Digital,Power And Optoelec...",39,23.0,All Levels,10.99,49.99,4.5,1,/electronic-science-digitalpower-and-optoelect...,20,5,0,1,0,0,0
45,A Short Course in Habits and Happiness | Posit...,19,1.0,All Levels,10.99,99.99,4.3,41,/a-short-course-in-habits-and-happiness-positi...,3540,6,0,1,0,0,0
46,Learn Plugin Development in WordPress By Build...,62,11.0,All Levels,10.99,59.99,4.1,177,/learn-plugin-development-in-wordpress-by-buil...,1763,5,0,1,0,0,0
47,"Business Success, the Fundamentals",18,2.0,All Levels,10.99,19.99,4.7,11,/market-fundamentals/,64,5,0,1,0,0,0
48,How to Find Love in 7 Days by Dr. Terri Orbuch...,39,1.5,All Levels,10.99,119.99,4.6,9,/how-to-find-love-in-7-days-by-dr-terri-orbuch...,72,6,0,1,0,0,0
49,Complex Adaptive Systems,15,2.5,All Levels,10.99,34.99,4.4,9,/complex-adaptive-systems/,95,4,0,1,0,0,0
50,Grow Your Talent with Still Life Drawing Exerc...,25,4.0,Beginner,10.99,24.99,4.2,7,/grow-your-talent-with-still-life-drawing-exer...,106,5,0,0,1,0,0
51,Audit Command Language for Beginners,21,3.0,Beginner,10.99,49.99,4.5,6,/audit-command-language-for-beginners/,327,5,0,0,1,0,0
52,Effortless Music Promotion,17,1.5,All Levels,10.99,49.99,4.5,1,/effortless-music-promotion/,62,5,0,1,0,0,0
53,R Programming For Absolute Beginners,119,9.5,Beginner,10.99,29.99,4.4,959,/r-programming-course-for-absolute-beginners/,22856,6,0,0,1,0,0
54,R: Complete Machine Learning Solutions,125,8.5,Expert,10.99,199.99,4.5,36,/r-complete-machine-learning-solutions/,441,6,0,0,0,1,0
55,A Beginner's Guide to Machine Learning (in Pyt...,50,3.5,All Levels,10.99,149.99,4.3,35,/a-beginners-guide-to-data-mining/,963,6,0,1,0,0,0
56,Learning Path: R: Complete Machine Learning & ...,213,17.5,Expert,10.99,199.99,4.3,85,/learning-path-r-complete-machine-learning-dee...,849,5,0,0,0,1,0
57,Learning Path: Python:Data Visualization with ...,87,10.5,Intermediate,10.99,199.99,4.3,6,/learning-path-pythondata-visualization-with-m...,43,5,0,0,0,0,1
58,"Text Mining, Scraping and Sentiment Analysis w...",38,3.0,Expert,10.99,94.99,4.1,307,/r-social-media-mining-scraping-with-twitter/,2966,6,0,0,0,1,0
60,Supervised and Unsupervised Learning with Python,38,2.0,Intermediate,10.99,124.99,4.1,3,/supervised-and-unsupervised-learning-with-pyt...,12,4,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1238,R Data Visualization – Word Clouds and 3D Plots,36,2.5,Intermediate,10.99,124.99,4.6,8,/r-data-visualization-word-clouds-and-3d-plots/,126,5,0,0,0,0,1
1239,Graphs in R - Data Visualization with R Progra...,46,4.5,Intermediate,10.99,94.99,4.4,127,/graphs-in-r/,2229,5,0,0,0,0,1
1252,Learning Path: R: Master Statistical Modeling ...,42,4.0,Intermediate,10.99,199.99,4.5,1,/learning-path-r-master-statistical-modeling-u...,15,5,0,0,0,0,1
1253,Data Visualization Principles to Improve your ...,24,4.5,All Levels,10.99,199.99,4.1,8,/data-visualization-principles/,50,6,0,1,0,0,0
1254,R Programming: Mastering R for data analysis,22,2.5,Intermediate,10.99,149.99,4.2,15,/mastering-r-for-data-analysis/,1020,6,0,0,0,0,1
1256,Introduction To Data Analytics Using Microsoft...,16,1.5,All Levels,10.99,44.99,4.1,43,/data-analytics-powerbi/,1887,5,0,1,0,0,0
1257,Data Structures and Algorithms : From 0 to HERO,18,2.0,All Levels,10.99,24.99,4.3,44,/data-structures-and-algorithms-from-0-to-hero/,3347,5,0,1,0,0,0
1259,Qualitative Data Analysis using MAXQDA Analyti...,82,4.5,All Levels,10.99,199.99,4.4,23,/qualitative-data-analysis-using-maxqda/,1276,5,0,1,0,0,0
1260,Statistics for Data Analysis Using Excel 2016,113,14.5,All Levels,10.99,144.99,4.4,309,/statistics-using-excel/,2789,6,0,1,0,0,0
1261,Business Data Analysis with Microsoft Excel an...,54,11.5,All Levels,10.99,49.99,4.1,1415,/business-data-analysis-with-microsoft-excel/,18342,5,0,1,0,0,0
1262,Data Manipulation in Excel: save up to 90% of ...,29,2.5,Intermediate,10.99,64.99,4.9,45,/easy-excel-with-igor-working-with-lists-of-data/,288,6,0,0,0,0,1
1264,From 0 to 1: Data Structures & Algorithms in Java,67,15.0,All Levels,10.99,99.99,4.4,648,/from-0-to-1-data-structures/,6401,5,0,1,0,0,0
1265,Data Structures and Algorithms: Deep Dive Usi...,115,16.0,Intermediate,10.99,199.99,4.4,1017,/data-structures-and-algorithms-deep-dive-usin...,7858,5,0,0,0,0,1
1266,Algorithms and Data Structures in Java - Part I,126,12.0,All Levels,10.99,199.99,4.4,734,/algorithms-and-data-structures/,5613,5,0,1,0,0,0
1267,Excel Power Query: Your Solution For Cleaner A...,12,1.0,Beginner,10.99,69.99,4.4,51,/excel-power-query-for-finance-and-accounting/,708,6,0,0,1,0,0
1268,Algorithms and Data Structures Easy Way Java -...,49,8.0,All Levels,10.99,19.99,4.5,39,/algorithms-and-data-structures-made-easy-for-...,649,5,0,1,0,0,0
1269,The Science of Getting Rich: Give Value. Have ...,97,21.0,Expert,10.99,199.99,4.6,74,/the-science-of-getting-rich/,8011,7,0,0,0,1,0
1270,Introduction to Statistics,33,2.5,Beginner,10.99,49.99,4.4,170,/introduction-to-statistics/,935,4,0,0,1,0,0
1271,Applying and Using Data Analysis for Business ...,9,31.0,Intermediate,10.99,24.99,4.4,9,/applying-and-using-data-analysis-for-business...,52,6,0,0,0,0,1
1272,Advanced Excel Analytics: Pivot Tables & Chart...,26,1.5,All Levels,10.99,149.99,4.4,85,/pivot-table-in-excel-level-up-to-intermediate...,989,5,0,1,0,0,0
1273,Learn Data Structures using C Programming Lang...,90,9.0,All Levels,10.99,134.99,4.1,31,/learn-data-structures-using-c-programming-lan...,237,5,0,1,0,0,0
1275,The 5-Steps to Achieve Long-Term Change,29,2.5,Beginner,9.99,34.99,4.2,4,/the-5-steps-to-achieve-long-term-change/,617,4,0,0,1,0,0
1276,Introduction to Algorithms and Data Structures...,57,2.0,All Levels,10.99,104.99,4.1,105,/introduction-to-algorithms-in-swift/,920,6,0,1,0,0,0
1277,Understand the Fundamentals of Programming,21,1.5,All Levels,10.99,24.99,4.9,19,/computer-science-fundamentals-programming/,1552,4,0,1,0,0,0
1278,Real World Vagrant - Hortonworks Data Platform...,18,3.5,Intermediate,10.99,89.99,4.1,11,/real-world-vagrant-hortonworks-data-platform-25/,223,6,0,0,0,0,1
1280,Taoism Level 2: Raise in Vibration,22,2.0,Intermediate,10.99,19.99,4.7,41,/introduction-to-taoism/,2702,6,0,0,0,0,1
1281,Apps Script Form Data Handler Exercise Google ...,16,1.0,Beginner,10.99,99.99,4.6,8,/google-apps-script/,2371,6,0,0,1,0,0
1282,Scientific Selling,37,6.0,Expert,10.99,19.99,4.7,13,/scientific-selling/,101,4,0,0,0,1,0
1284,Song Science #3: How to Build Contemporary Son...,15,1.5,All Levels,10.99,49.99,4.6,120,/song-science-3-contemporary-song-form-songwri...,1618,5,0,1,0,0,0
1286,Excel Data Analysis using Conditional Formatti...,10,33.0,All Levels,10.99,29.99,4.3,12,/excel-conditional-formatting-ninja-basics-to-...,391,5,0,1,0,0,0

In [203]:
len(new_udemy_df)

986

In [204]:
#pickling df

In [205]:
with open('udemy_cleaned_df.pkl','wb') as file:
    pickle.dump(new_udemy_df,file)

In [206]:
new_udemy_df.to_pickle('udemy_cleaned_df.pkl')

In [208]:
udemy = pd.read_pickle('udemy_cleaned_df.pkl')

In [209]:
udemy.head(7)

,Title,Lectures,Hours,Level,Sale,Price,Stars,Number of Ratings,URL,Enrollment,Incentives,,All Levels,Beginner,Expert,Intermediate
0,Android: Using Backendless to save data in the...,61,11.5,Beginner,10.99,19.99,4.7,12,/android-using-backendless-to-save-data-in-the...,76,6,0,0,1,0,0
1,Fundraising Success: The Art & Science of Majo...,24,2.5,Intermediate,10.99,49.99,4.4,18,/fundraising-success-the-art-science-of-major-...,84,5,0,0,0,0,1
2,Science of Happiness Certification: Fully Accr...,44,2.5,Beginner,10.99,199.99,4.5,24,/positive-psychology-habits-and-happiness-cert...,535,6,0,0,1,0,0
3,The Science of Reiki,11,1.0,All Levels,10.99,49.99,4.3,37,/the-science-of-reiki/,119,6,0,1,0,0,0
4,GDPR & PSD2 data protection compliance for fin...,60,6.5,All Levels,10.99,174.99,4.7,39,/understanding-financial-malware-and-how-top-b...,2729,5,0,1,0,0,0
5,Death By PowerPoint To Killer Presentation Via...,15,31.0,All Levels,10.99,34.99,4.2,10,/death-by-powerpoint-to-killer-presentation/,36,4,0,1,0,0,0
6,Goal Setting for Success: The Science of Goal ...,47,2.0,All Levels,10.99,199.99,4.2,39,/science-of-goal-setting/,2166,6,0,1,0,0,0